---
import Layout from "../../layouts/Layout.astro";
import { supabase } from "../../db/supabase";
let { data: player, error } = await supabase.from("player").select("*");
---

<Layout
  description="Lista de jugadores de la Cangas Cup 2024"
  title="Lista jugadores - Cangas Cup Futsal 2024"
>
  <article
    class="col-span-5 relative rounded-xl backdrop-blur-md border border-black shadow-inner shadow-white overflow-hidden group m-20"
  >
  <ul>
   {
        player.map((player) => (

<article
  class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]"
>
  <div class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6">
    <time datetime="2022-10-10" class="block text-xs text-gray-500">{player.teamId}</time>

    <a href="#">
      <h3 class="mt-0.5 text-lg font-medium text-gray-900">
        {player.name} {player.secondName}
      </h3>
    </a>

    <div class="mt-4 flex flex-wrap gap-1">
      <span
        class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
      >
        {player.goal}
      </span>

      <span
        class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
      >
      
      </span>
    </div>
  </div>
</article>

         ))
      }
  </ul>
  </article>
</Layout>
