---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  description="Lista de jugadores de la Cangas Cup 2024"
  title="Lista jugadores - Cangas Cup Futsal 2024"
>
  <article
    class="col-span-5 relative rounded-xl backdrop-blur-md border border-black shadow-inner shadow-white overflow-hidden group m-20"
  >
    </section>
  </article>
</Layout>
