---
import Layout from "../layouts/Layout.astro";
---

<Layout description="Fase Final Cangas Cup" title="Fase final">
  <div class="container mx-auto p-4 text-gray-300">
    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold">Octavos de Final</h1>
    </div>

    <div class="round">
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">1º Octavos de final</span>
        <div class="match-time">15/06 20:00</div>
        <div class="match-team">
          <span>O Palique</span>
        </div>
        <div class="vs">7 vs 0</div>
        <div class="match-team">
          <span>Libreria El Valle</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">2º Octavos de final</span>
        <div class="match-time">15/06 21:00</div>
        <div class="match-team">
          <span>Green Peppin</span>
        </div>
        <div class="vs">5 vs 0</div>
        <div class="match-team">
          <span>Dog & Roll</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">3º Octavos de final</span>
        <div class="match-time">15/06 22:00</div>
        <div class="match-team">
          <span>Obrador Flory
          </span>
        </div>
        <div class="vs">0 vs 3</div>
        <div class="match-team">
          <span>Campanillas</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">4º Octavos de final</span>
        <div class="match-time">15/06 23:00</div>
        <div class="match-team">
          <span>El Plantio</span>
        </div>
        <div class="vs">7 vs 1</div>
        <div class="match-team">
          <span>Deportes Isa</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">5º Octavos de final</span>
        <div class="match-time">16/06 00:00</div>
        <div class="match-team">
          <span>Astursim</span>
        </div>
        <div class="vs">7 vs 2</div>
        <div class="match-team">
          <span>Serrano Wine-Bar</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">6º Octavos de final</span>
        <div class="match-time">16/06 01:00</div>
        <div class="match-team">
          <span>Cantina Canalla/Manulaci Barber</span>
        </div>
        <div class="vs">4 vs 3</div>
        <div class="match-team">
          <span>Evasfal</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">7º Octavos de final</span>
        <div class="match-time">16/06 02:00</div>
        <div class="match-team">
          <span>Bus Narcea</span>
        </div>
        <div class="vs">1 vs 4</div>
        <div class="match-team">
          <span>El Cajon</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">8º Octavos de final</span>
        <div class="match-time">16/06 03:00</div>
        <div class="match-team">
          <span>Tineo FS</span>
        </div>
        <div class="vs">4 vs 1</div>
        <div class="match-team">
          <span>Transportes Lozano</span>
        </div>
      </div>
    </div>
    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold">Cuartos de Final</h1>
    </div>

    <div class="round">
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">1º Cuartos de final</span>
        <div class="match-time">16/06 10:00</div>
        <div class="match-team">
          <span>O Palique</span>
        </div>
        <div class="vs">vs</div>
        <div class="match-team">
          <span>Green Peppin</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">2º Cuartos de final</span>
        <div class="match-time">16/06 11:00</div>
        <div class="match-team">
          <span>Campanillas</span>
        </div>
        <div class="vs">vs</div>
        <div class="match-team">
          <span>El Plantio</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">3º Cuartos de final</span>
        <div class="match-time">16/06 12:00</div>
        <div class="match-team">
          <span>Astursim</span>
        </div>
        <div class="vs">vs</div>
        <div class="match-team">
          <span>Cantina Canalla</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">4º Cuartos de final</span>
        <div class="match-time">16/06 13:00</div>
        <div class="match-team">
          <span>El Cajon</span>
        </div>
        <div class="vs">vs</div>
        <div class="match-team">
          <span>Tineo FS</span>
        </div>
      </div>
    </div>

    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold">Semifinales</h1>
    </div>

    <div class="round">
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">1º Semifinal</span>
        <div class="match-time">16/06 14:00</div>
        <div class="match-team">
          <span>Ganador 1º Cuartos</span>
        </div>
        <div class="vs">vs</div>
        <div class="match-team">
          <span>Ganador 2º Cuartos</span>
        </div>
      </div>
      <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
        <span class="font-bold tracking-wide">2º Semifinal </span>
        <div class="match-time">16/06 15:00</div>
        <div class="match-team">
          <span>Ganador 3º Cuartos</span>
        </div>
        <div class="vs">vs</div>
        <div class="match-team">
          <span>Ganador 4º Octavos</span>
        </div>
      </div>
    </div>

    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold">Final</h1>
    </div>
    <section class="flex flex-col">
      <div class="round">
        <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
          <div class="match-time">16/06 17:30</div>
          <div class="match-team">
            <span>Ganador 1º semifinal </span>
          </div>
          <div class="vs">vs</div>
          <div class="match-team">
            <span>Ganador 2º semifinal</span>
          </div>
        </div>
      </div>
      <div class="text-center mb-8">
        <h1 class="text-2xl font-bold">Campeón Cangas Cup 2024</h1>
      </div>
      <div class="round">
        <div
          class="match w-full text-center items-center sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-12 flex gap-5"
        >
          <span class="text-2xl text-center">Equipo Campeón</span>
          <img src="/CANGASCUPLOGO.png" class="w-[70px] h-auto" />
        </div>
      </div>
    </section>
    <div class="text-center mb-8">
      <h1 class="text-2xl font-bold">Final Local</h1>
    </div>
    <section class="flex flex-col">
      <div class="round">
        <div class="match w-full sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4">
          <div class="match-time">16/06 16:00</div>
          <div class="match-team">
            <span>Mejor equipo local</span>
          </div>
          <div class="vs">vs</div>
          <div class="match-team">
            <span>Segundo mejor equipo local</span>
          </div>
        </div>
      </div>
      <div class="text-center mb-8">
        <h1 class="text-2xl font-bold">Mejor equipo Local</h1>
      </div>
      <div class="round">
        <div
          class="match w-full text-center items-center sm:w-3/4 md:w-5/12 lg:w-1/4 mx-auto mb-4 flex gap-5"
        >
          <span class="text-2xl text-center">Campeón Local</span>
          <img src="/EscudoCangas.png" class="w-[70px] h-auto" />
        </div>
      </div>
    </section>
  </div>
</Layout>

<style>
  .round {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: black;
  }

  .match {
    background-color: #bfbfbf;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .match-header {
    margin-bottom: 1rem;
  }

  .match-team {
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1.1rem;
  }

  .match-time {
    font-size: 1rem; /* Tamaño un poco más grande */
    color: black;
    font-style: italic;
    font-weight: bold; /* Negrita */
    margin-bottom: 0.5rem;
  }

  .vs {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: black;
  }
</style>
