---
import Layout from "../layouts/Layout.astro";
---

<Layout description="Cuadro Fase Final" title="Cuadro Fase Final Cangas Cup">
  <section class="w-3/4 h3/4 flex items-center border border-white justify-center text-center ">
    <h1 class="text-4xl">Estamos trabajando en ello!!!!</h1>
  </section>
</Layout>
